<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, issues_path(:rss) %>
</head>
<body>

  <ul>
    <li><a href="/issues">Issues</a></li>
    <li><a href="/issues/new">New Issue</li>
    <%= yield :nav %>
  </ul>

<%= yield %>

</body>
</html>
