<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, issues_path(:rss) %>
</head>
<body>

  <ul>
    <li><%= link_to t("nav.timeline"), timeline_index_path %></a></li>
    <li><%= link_to t("nav.issues.list"), issues_path %></a></li>
    <li><%= link_to t("nav.issues.new"), new_issue_path %></li>
    <%= yield :nav %>
  </ul>

<%= yield %>

</body>
</html>
