<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, issues_path(:rss) %>
</head>
<body>

  <ul>
    <li><a href="/timeline/index"><%= t "nav.timeline" %></a></li>
    <li><a href="/issues"><%= "nav.issues.list" %></a></li>
    <li><a href="/issues/new"><%= t "nav.issues.new" %></li>
    <%= yield :nav %>
  </ul>

<%= yield %>

</body>
</html>
